<form class="section box" action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Station Name</label>
<!--    TODO fix title name to something else, change in data model... -->
    <input class="input" type="text" placeholder="Enter station name" name="title">
  </div>
  <button class="button is-link">Add Station</button>
</form>