<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label class="title">Enter Report Details:</label>
  <hr />
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Code</label>
        <input class="input" type="text" placeholder="00" name="weathercode">
      </div>
      <div class="field">
        <label class="label">Temp °C</label>
        <input class="input" type="text" placeholder="00 °C" name="temperature">
      </div>
      <div class="field">
        <label class="label">Wind Speed bft</label>
        <input class="input" type="text" placeholder="00 bft" name="windspeed">
      </div>
      <div class="field">
        <label class="label">Wind Direction deg</label>
        <div class='select'>
          <select name="winddirection">
            <option>Select Wind Direction</option>
            <option>0</option>
            <option>45</option>
            <option>90</option>
            <option>135</option>
            <option>180</option>
            <option>225</option>
            <option>270</option>
            <option>315</option>
            <option>360</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Pressure hpa</label>
        <input class="input" type="text" placeholder="00 hpa" name="pressure">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Report</button>
</form>

<!--  https://stackoverflow.com/questions/8398726/using-the-post-method-with-html-anchor-tags-->
<form id="generate-report-button" method="post" action="/station/{{station._id}}/addgeneratedreport">
  <input type="hidden" name="name" value="value" />
  <a class="button has-background-danger"
     onclick="document.getElementById('generate-report-button').submit(); return false;">Auto Generate Report</a>
</form>
