<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label class="title">Enter Report Details:</label>
  <hr/>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Code</label>
        <input class="input" type="text" placeholder="00" name="weathercode">
      </div>
      <div class="field">
        <label class="label">Temp °C</label>
        <input class="input" type="text" placeholder="00 °C" name="temperature">
      </div>
      <div class="field">
        <label class="label">Wind Speed bft</label>
        <input class="input" type="text" placeholder="00 bft" name="windspeed">
      </div>
      <div class="field">
        <label class="label">Wind Direction deg</label>
        <input class="input" type="text" placeholder="00 deg" name="winddirection">
      </div>
      <div class="field">
        <label class="label">Pressure hpa</label>
        <input class="input" type="text" placeholder="00 hpa" name="pressure">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Report</button>
</form>
