{{> menu active="dashboard"}}
<section class="section">
  {{> list-stations}}
  {{> add-station}}
  <div style="height: 800px" id="map"></div>
  <script>
    // TODO set view dynamically to make sure all markers show if outside ireland
    const map = L.map('map').setView([53.726, -7.799], 7);
    {{#each stations}}
    L.marker([{{longitude}},{{latitude}}]).addTo(map);
    {{/each}}
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  </script>
</section>