{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
<!--  <div class="subtitle">-->
<!--    Shortest Track: {{shortestTrack.title}}-->
<!--  </div>-->
  {{#with station}}
  {{>station-summary}}
  {{/with}}
  {{> list-reports}}
  {{> add-report}}
</section>