{{> menu}}
<section class="section">
  <div class="title">f
    {{station.title}}
  </div>
  {{#with station}}
  {{>station-summary}}
  {{/with}}
  <div class="box" id="chart"></div>
  <script>
    const data = {
      labels: [
        {{#each station.reports}}
          "{{friendlyDate}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Temperature", type: "line",
          values: [
            {{#each station.reports}}
              {{temperature}},
            {{/each}}
          ]
        }
      ]
    };
    new frappe.Chart("#chart", {
      data: data,
      type: "line",
      height: 180,
      colors: ["red"]
    });
  </script>
  {{> list-reports}}
  {{> add-report}}
</section>